/* Font -------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, input, button, textarea, select {
    font: 16px 'Roboto', sans-serif;
}

/* Layout ------------------------------------------------------------------ */

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid: auto auto 1fr auto / auto;
}

header, footer {
    padding: 10px 50px;
    background: #ccc;
}

header h1 {
    margin: 0;
    padding-left: 40px;
    background: url(/images/favicon.jpg) no-repeat left / 36px;
}

header a {
    color: inherit;
    text-decoration: none;
}

nav {
    padding: 0 50px;
    background: #999;
    display: flex;
}

nav a {
    padding: 5px 10px;
    color: #fff;
    background: #666;
    text-decoration: none;
    white-space: nowrap;
}

nav .right {
    margin-left: auto;
    display: flex;
}

nav a:hover {
    background: #333;
}

main {
    padding: 20px 50px;
}

main h1 {
    margin-top: 0;
}

/* Form -------------------------------------------------------------------- */

label > * {
    vertical-align: text-top;
}

.form {
    display: grid;
    grid: auto / auto auto auto;
    gap: 5px;
    place-content: start;
    place-items: center start;
}

.form > label:not(:has(*)) {
    place-self: stretch;
    background: #ccc;
    font-weight: bold;
    padding: 5px;
}

.form > section {
    grid-column: 1 / -1;
}

.err {
    color: red;
}

/* Flash Message ----------------------------------------------------------- */

#info {
    position: fixed;
    color: #fff;
    background: #666;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    left: 50%;
    translate: -50% 0;
    z-index: 999;

    top: -100px;
    opacity: 0;
}

#info:not(:empty) {
    animation: fade 5s;
}

@keyframes fade {
      0% { top: -100px; opacity: 0; }
     10% { top:  100px; opacity: 1; }
     90% { top:  100px; opacity: 1; }
    100% { top: -100px; opacity: 0; }
}