/* Font -------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, input, button, textarea, select {
    font: 16px 'Roboto', sans-serif;
}

/* Layout ------------------------------------------------------------------ */

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid: auto auto 1fr auto / auto;
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), /* transparent white overlay */
        url("/images/background.png") center / cover no-repeat fixed;   /*= new added*/
}

header, footer {
    padding: 10px 50px;
    background: #ccc;
}

header h1 {
    margin: 0;
    padding-left: 40px;
    background: url(/images/logo.png) no-repeat left / 36px;
}

header a {
    color: inherit;
    text-decoration: none;
}

nav {
    padding: 0 50px;
    background: #999;
    display: flex;
}

nav a {
    padding: 5px 10px;
    color: #fff;
    background: #666;
    text-decoration: none;
    white-space: nowrap;
}

nav .right {
    margin-left: auto;
    display: flex;
}

nav a:hover {
    background: #333;
}

main {
    padding: 20px 50px;
}

main h1 {
    margin-top: 0;
}

/* Form -------------------------------------------------------------------- */

label > * {
    vertical-align: text-top;
}

.form {
    display: grid;
    grid: auto / auto auto auto;
    gap: 5px;
    place-content: start;
    place-items: center start;
}

.form > label:not(:has(*)) {
    place-self: stretch;
    background: #ccc;
    font-weight: bold;
    padding: 5px;
}

.form > section {
    grid-column: 1 / -1;
}

.err {
    color: red;
}

/* Flash Message ----------------------------------------------------------- */

#info {
    position: fixed;
    color: #fff;
    background: #666;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    left: 50%;
    translate: -50% 0;
    z-index: 999;

    top: -100px;
    opacity: 0;
}

#info:not(:empty) {
    animation: fade 5s;
}

@keyframes fade {
      0% { top: -100px; opacity: 0; }
     10% { top:  100px; opacity: 1; }
     90% { top:  100px; opacity: 1; }
    100% { top: -100px; opacity: 0; }
}

/* Photo Upload ------------------------------------------------------------ */

label.upload img {
    display: block;
    border: 1px solid #333;
    width: 200px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

/*Menu---------------------------------------------------------------------------*/
.category-title {
    margin: 20px 0 10px;
    font-weight: bold;
    color: #000;
    scroll-margin-top: 50px; 
}

.category-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
}

.menu-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    background: #fff;
}

.menu-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 20px 40px burlywood;
}

.menu-card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.price {
    color: #555;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.category-bar {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

.category-bar .cat-link {
    padding: 8px 14px;
    background: white;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.category-bar .cat-link:hover {
    background: #f0e5d8;
}

.search{
    padding-bottom: 50px;
    position: sticky;
    top: 25px;                   /* Sidebar stays visible while scrolling */
}

/* Table ------------------------------------------------------------------- */

.table {
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #333;
    padding: 5px;
}

.table th {
    color: #fff;
    background: #666;
}

.table tr:hover td {
    background: #ccc;
}

.table td:has(.popup) {
    position: relative;
}

.table .popup {
    position: absolute;
    top: 50%;
    left: 100%;
    translate: 5px -50%;
    z-index: 1;
    border: 1px solid #333;
    display: none;
}

.table tr:hover .popup {
    display: block;
}

.detail th {
    text-align: left;
}

/* Sorting */
.table th a {
    color: inherit;
    display: block;
}

.table th a.asc::after {
    content: ' ▴';
}

.table th a.desc::after {
    content: ' ▾';
}

/* Pager    TTY's maybe need
.pager a {
    outline: 1px solid #333;
}

.pager a {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.pager a:hover {
    background-color: #f0f0f0;
}

.pager a.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    font-weight: bold;
}*/